@font-face {
    font-family: Bahnschrift;
    src: url("../fonts/BAHNSCHRIFT.woff");
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.6;
    font-weight: 400;
    color: #393939;
    background: #F4EBE4;
    margin: 0 auto;
    width: 100%;
    font-family: 'Bahnschrift', "Merriweather";
}
.hidden{
    overflow: hidden;
}
.mt-50 {
    margin-top: 50px;
}
.mb-50 {
    margin-bottom: 50px;
}

.mt-100 {
    margin-top: 100px;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

[class*="col-"] {
    position: relative;
    float: left;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

img {
    width: 100%;
}

.fl-left {
    float: left;
}

.fl-right {
    float: right;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.d-flex {
    display: flex;
}

.d-none {
    display: none !important;
}

.d-block {
    display: block;
}

.text-center {
    text-align: center;
}

.upperCase {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}

.container {
    overflow: hidden;
    max-width: 80%;
    height: auto;
    margin: 0 auto;
    padding: 0 15px;
}

.clear {
    clear: both;
}

/* style */
.side-bar {
    background: #FF5798;
    position: fixed;
    min-height: 100vh;
}

.side-bar li a {
    color: #FFFFFF;
    font-size: 22px;
    display: block;
    text-align: center;
    padding: 20px;
}

.side-bar li a:hover {
    text-decoration: underline;
}

.home {
    min-height: 100vh;
    padding-top: 180px;

}

.home .main-text {
    font-size: 22px;

    box-sizing: border-box;

}

.home .main-text h1 {
    font-size: 46px;
    margin: 15px auto;
}

.home .main-text h1 span {
    font-size: 30px;
    color: #FF5798;
}

.home .main-text p {
    margin: 0;
    padding-right: 35px;
}
.home .main-text .socials{
    margin-top: 30px;
}
.home .main-text .socials ul li{
    float: left;
    margin: auto 35px;
}
.home .main-text .socials ul>li{
    margin-left: 0;
}
.home .main-text .socials ul li a{
    font-size:30px;
    color: rgb(95, 31, 184);
}
.home .main-text .socials ul li a:hover{
    color:#FF5798;
}

.home .img-container {
    display: block;
    position: relative;
    height: 0;
    padding-top: 95%;
    width: 100%;
}
.home .img-container img{
    height: 100%;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 100%;
    border-radius: 20%;
}
.section-title{
    font-size: 54px;
    color: #FF5798;
    font-weight: bold;
}
.about .content-container p{
    font-size: 22px;
}
.about .content-title{
    font-size:36px;
    text-decoration: underline #FF5798;

}
.about .experience span{
    color: #FF5798;
}
.about .skills .item {
    box-sizing: border-box;
    padding: 30px;
}
.about .skills .item-img{
    cursor: pointer;
}
.about .skills .item-img img:hover{
   transform: scale(1.2);
   transition: 0.5s;
}
.about .skills .decs-skill{
    font-size:36px;
}
.portfolio .title-container h2{
    margin-bottom: 0;
}
.portfolio .title-container p{
    font-size: 22px;
}
.portfolio .product{
    box-sizing: border-box;
    padding: 20px;
}
.portfolio .product .img-container img{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.contact .form input, textarea{
    border: solid #FF5798 2px;
    outline: none;
    display: inline-block;
    height: 50px;
    vertical-align: middle;
    position: relative;
    border-radius: 20px;
    width: 100%;
    margin: 20px auto;
    box-sizing: border-box;
    padding: 0 18px;
}
input[type="text"]::placeholder,input[type="email"]::placeholder{
    color: #FF5798;
    font-weight: bolder;
}
textarea {
    width: 100%;
    height: 235px;
    padding: 12px 20px;
    box-sizing: border-box;
    font-size: 16px;
    resize: none;
  }
.contact .form  input[type="button"]{ 
    background:#FF5798 ! important;
    color:#fff;
    font-size: 22px;
    font-weight: bold;
    position:relative;
    left:9px;
    top:0; 
    width:150px;
    height:50px;
    cursor:pointer;
  }

.contact .inf-send,.message-send{
    box-sizing: border-box;
    padding: 30px;
  }
.only-desktop{
    display: block;
}
@media only screen and (max-width: 768px) {

    /* For mobile phones: */
    [class*="col-"] {
       width:100% ; 
    }

    .only-desktop {
        display: none;
    }
}